html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
}

/*
 ___  ___  _______   ________  ________  _______   ________
|\  \|\  \|\  ___ \ |\   __  \|\   ___ \|\  ___ \ |\   __  \
\ \  \\\  \ \   __/|\ \  \|\  \ \  \_|\ \ \   __/|\ \  \|\  \
 \ \   __  \ \  \_|/_\ \   __  \ \  \ \\ \ \  \_|/_\ \   _  _\
  \ \  \ \  \ \  \_|\ \ \  \ \  \ \  \_\\ \ \  \_|\ \ \  \\  \|
   \ \__\ \__\ \_______\ \__\ \__\ \_______\ \_______\ \__\\ _\
    \|__|\|__|\|_______|\|__|\|__|\|_______|\|_______|\|__|\|__|



*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: .2s linear;
  padding-bottom: 20px;
  z-index: 999;
}

.header_active {
  background: #0E1D28;
}

.wrapper {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 26px;
}

.header__logo {}

.header__logo-link {}

.header__logo-image {
  width: 60px;
  height: 60px;
}

.header__nav {}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  margin-right: 30px;
  list-style-type: none;
  /*  */
  position: relative;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  font-size: 18px;
  line-height: 24px;
  color: white;
  text-decoration: none;
  /*  */
  transition: .5s linear;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
  opacity: 0.75;
  cursor: pointer;
}

/* submenu */

.submenu-header__list {
  min-width: 150px;
  max-width: 180px;
  position: absolute;
  top: 20px;
  left: 0;
}

.header__list .submenu-header__list {
 left: 0;
 top: 0;
 display: none;
 padding: 0;
 z-index: 5;
 margin-top: 20px;
}

.header__list .header__item:hover > .submenu-header__list {
  /* block */
  display: block;
}


.submenu-header__link {
  border-bottom: 1px solid 000;
  padding: 10px 20px;
  background: #0E1D28;
  font-size: 16px;
  display: block;
  color: #fff;
  text-decoration: none;
}
.submenu-header__link:hover {
  cursor: pointer;
  /* color: #0e66da; */
  /* opacity: 0.75; */
  color: rgb(186, 186, 186);
}

.header__list .submenu-header__list .submenu-header__list {
  display: none;
  /* position: relative; */
  top: 0;
  left: 100%;
  /* background: #fff; */
  list-style: none;
}

.submenu-header__item {
  /* position: relative; */
  list-style: none;
}

.submenu-header__list .submenu-header__item:hover > .submenu-header__list {
  /* display: block; */
}

/* submenu */

.burger {}

.header__burger {
  width: 40px;
  height: 28px;
  position: relative;
  display: none;
}

.burger__line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;

}

.burger__line_first {
  top: 0;

}

.burger__line_second {
  top: 50%;
  transform: translateY(-50%);
}

.burger__line_third {
  bottom: 0;
}

.main {}

.intro {
  min-height: 100vh;
  background: url('http://centr-tur.com/wp-content/uploads/2017/12/cropped-21.png') no-repeat center;
  background-size: cover;
  padding-top: 263px;
  padding-bottom: 223px;
}

.intro__title {
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  color: white;
  text-align: center;
  margin-bottom: 22px;
}

.intro__subtitle {
  color: white;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.benefits {
  margin-bottom: 131px;
}

.benefits__wrap {
  max-width: 1262px;
  background-color: #fff;
  margin: 0 auto;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  position: relative;
}

.benefits__title {
  width: 100%;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  padding: 93px 100px 88px 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: white;
}

.benefits__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 55px;
  padding: 0 100px;
}

.benefits__card {
  grid-column: span 1;
  margin-bottom: 112px;
}

.benefits__card-pic {
  max-width: 66px;
  margin-bottom: 37px;
}

.benefits__card-thumb {
  display: block;
  font-size: 54px;
  color: #006dfe;
  z-index: 1;
  position: relative;
}

.benefits__card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 26px;
}

.benefits__card-desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 39px;
}

.benefits__card-more {
  display: inline-block;
  padding-right: 39px;
  font-size: 16px;
  line-height: 24px;
  color: #006dfe;
  text-decoration: none;
  background: url(../resousces/arrow-right-long-solid\ \(1\).svg) no-repeat 95% center;
  transition: .2s all;
}

.benefits__card-more:hover {
  background: url(../resousces/arrow-right-long-solid\ \(1\).svg) no-repeat right center;
  cursor: pointer;
}

/* Places */

.places {}

.wrapper-full {
  max-width: 1262px;
  margin: 0 auto;
  padding: 0 15px;
}

.places__title {
  margin-right: 15px;
}

.places__caption {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.section-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  position: relative;
  padding-bottom: 10px;

}

.places__view-all {
  font-size: 16px;
  color: #006dfe;
  text-decoration: none;
  background: url(../resousces/arrow-right-long-solid\ \(1\).svg) no-repeat right center;
  transition: .2s all;
  padding-right: 39px;
  line-height: 24px;
}

.places__view-all:hover {
  opacity: .65;
  cursor: pointer;
}

.section-title::after {
  display: block;
  content: '';
  width: 253px;
  height: 3px;
  background-color: #006dfe;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Places Card */

.places {
  margin-bottom: 131px;
}

.places__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.places__card_size_lg {
  grid-column: span 3;
}

.places__card_size_sm {
  grid-column: span 2;
}

.places__card_size_sm {}

.places__card {
  position: relative;
  margin: 0;
  overflow: hidden;
}

.places__card:hover .places__card-pic {
  transform: scale(1.05);
  cursor: pointer;
}

.places__card::after {
  display: block;
  content: '';
  width: 100%;
  height: 99%;
  background-color: rgba(21, 24, 36, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

}

.places__card-pic {
  width: 100%;
  transition: .15s all;
}

.places__card-pic_size_lg {
  height: 354px;
  object-fit: cover;
}

.places__card-pic_size_sm {
  height: 283px;
  object-fit: cover;
}

.plces__card-title {
  font-size: 30px;
  line-height: 30px;
  color: white;
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
}

.places__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}

/* Achivement */

.achivements {
  margin-bottom: 139px;

}

.achivements__achievement {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 108px;
  align-items: center;
}

.achievement {}

.achivements__achievement {
  margin-bottom: 77px;
}

.achievemt__pic {}

.achivement__thumb {
  max-width: 445px;
  max-height: 340px;
}

.achivement__info {
  padding-left: 47px;

}

.achivement__title {
  font-size: 30px;
  line-height: 40px;
  font-weight: 500;
  margin-bottom: 85px;
}

.achivement__desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 58px;
}

.achivement__more {
  font-size: 16px;
  color: #006dfe;
  text-decoration: none;
  background: url(../resousces/arrow-right-long-solid\ \(1\).svg) no-repeat right center;
  transition: .2s all;
  padding-right: 29px;
}

.achivement__more:hover {
  opacity: .65;
}

/*
 ________   _______   ___       __   ________
|\   ___  \|\  ___ \ |\  \     |\  \|\   ____\
\ \  \\ \  \ \   __/|\ \  \    \ \  \ \  \___|_
 \ \  \\ \  \ \  \_|/_\ \  \  __\ \  \ \_____  \
  \ \  \\ \  \ \  \_|\ \ \  \|\__\_\  \|____|\  \
   \ \__\\ \__\ \_______\ \____________\____\_\  \
    \|__| \|__|\|_______|\|____________|\_________\
                                       \|_________|


*/

.news {
  margin-bottom: 86px;
}

.news__title {
  margin-bottom: 54px;
}

.news__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 57px;
  grid-row-gap: 57px;
}

.news__card {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
}

.news__card-pic {
  position: relative;
  margin-bottom: 45px;

}

.news__card-thumb {
  /* size of image */
  width: 100%;
  height: 100%;
}

.news__card-stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(21, 24, 36, 0.6);
  padding: 16px 25px;
}

.news__card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  margin: 0 auto 0 0;
}

.news__card-date {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.news__card-date-value {}

.news__card-desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 31px;

}

.news__card-more {
  padding: 12px 19px;
  background: #006dfe;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  border-radius: 2px;
  width: 150px;
  margin: auto 0 0 0;
}

.news__card-more:hover {
  background: #0e66da;
}

/*
 ________  _________  ________  ________ ________
|\   ____\|\___   ___\\   __  \|\  _____\\  _____\
\ \  \___|\|___ \  \_\ \  \|\  \ \  \__/\ \  \__/
 \ \_____  \   \ \  \ \ \   __  \ \   __\\ \   __\
  \|____|\  \   \ \  \ \ \  \ \  \ \  \_| \ \  \_|
    ____\_\  \   \ \__\ \ \__\ \__\ \__\   \ \__\
   |\_________\   \|__|  \|__|\|__|\|__|    \|__|
   \|_________|


*/

.staff {
  width: 100%;

}

.staff__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.staff__item {
  padding-top: 56.25%;
}

.staff__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
}

/*
 ________ ________  ________  _________  _______   ________
|\  _____\\   __  \|\   __  \|\___   ___\\  ___ \ |\   __  \
\ \  \__/\ \  \|\  \ \  \|\  \|___ \  \_\ \   __/|\ \  \|\  \
 \ \   __\\ \  \\\  \ \  \\\  \   \ \  \ \ \  \_|/_\ \   _  _\
  \ \  \_| \ \  \\\  \ \  \\\  \   \ \  \ \ \  \_|\ \ \  \\  \|
   \ \__\   \ \_______\ \_______\   \ \__\ \ \_______\ \__\\ _\
    \|__|    \|_______|\|_______|    \|__|  \|_______|\|__|\|__|



*/

.footer {
  background: #0E1D28;
  padding: 70px 0;
  margin-top: -150px;

}

.footer__item {
  display: flex;
  flex-wrap: wrap;

}

.footer__logo {
  width: 50%;
}

.footer__logo-pic {
  width: 150px;
  height: 150px;
}

.footer__nav {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__menu {}

.footer__menu-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
}

.footer__menu-item {
  list-style: none;
}

.footer__menu-link {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}

.footer__menu-link:hover {
  opacity: .75;
}

/*
 ________  ________  _______   ___       ________  ________  ________  _______   ________
|\   __  \|\   __  \|\  ___ \ |\  \     |\   __  \|\   __  \|\   ___ \|\  ___ \ |\   __  \
\ \  \|\  \ \  \|\  \ \   __/|\ \  \    \ \  \|\  \ \  \|\  \ \  \_|\ \ \   __/|\ \  \|\  \
 \ \   ____\ \   _  _\ \  \_|/_\ \  \    \ \  \\\  \ \   __  \ \  \ \\ \ \  \_|/_\ \   _  _\
  \ \  \___|\ \  \\  \\ \  \_|\ \ \  \____\ \  \\\  \ \  \ \  \ \  \_\\ \ \  \_|\ \ \  \\  \|
   \ \__\    \ \__\\ _\\ \_______\ \_______\ \_______\ \__\ \__\ \_______\ \_______\ \__\\ _\
    \|__|     \|__|\|__|\|_______|\|_______|\|_______|\|__|\|__|\|_______|\|_______|\|__|\|__|

*/

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0E1D28;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader-hiden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: '';
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #006dfe;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

.loader__title {
  position: absolute;
  margin-top: 140px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 24px;
  font-style: normal;
  color: #dddddd;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

/*
 _____ ______   _______   ________  ___  ________          ________  _________  ________  ________  _________
|\   _ \  _   \|\  ___ \ |\   ___ \|\  \|\   __  \        |\   ____\|\___   ___\\   __  \|\   __  \|\___   ___\
\ \  \\\__\ \  \ \   __/|\ \  \_|\ \ \  \ \  \|\  \       \ \  \___|\|___ \  \_\ \  \|\  \ \  \|\  \|___ \  \_|
 \ \  \\|__| \  \ \  \_|/_\ \  \ \\ \ \  \ \   __  \       \ \_____  \   \ \  \ \ \   _  _\ \   __  \   \ \  \
  \ \  \    \ \  \ \  \_|\ \ \  \_\\ \ \  \ \  \ \  \       \|____|\  \   \ \  \ \ \  \\  \\ \  \ \  \   \ \  \
   \ \__\    \ \__\ \_______\ \_______\ \__\ \__\ \__\        ____\_\  \   \ \__\ \ \__\\ _\\ \__\ \__\   \ \__\
    \|__|     \|__|\|_______|\|_______|\|__|\|__|\|__|       |\_________\   \|__|  \|__|\|__|\|__|\|__|    \|__|
                                                             \|_________|


*/

@media screen and (max-width: 1338px) {

  .header__burger {
    display: block;
  }

  .header__nav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 10;
    padding: 75px;
    transform: translateX(100%);
    transition: .2s all linear;
  }

  .header__list {
    /* position: relative; */
    /* overflow: hidden; */
  }

  .submenu-header__list {
    position: relative;
    /* display: block; */
    /* right: auto; */
    /* top: auto; */
  }

  .header__nav_active {
    transform: translateX(0);
  }

  .header__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header__link {
    font-size: 42px;
    line-height: 48px;
  }

  .header__item:last-child {
    margin-bottom: 0;
  }

  .header__nav-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;
  }

  .header__nav-close-line {
    display: block;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    width: 100%;
  }

  .header__nav-close-line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }

  .header__nav-close-line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }

}

@media screen and (max-width: 824px) {
  .benefits__cards {
    padding: 0 15px;
    grid-column-gap: 35px;
  }

  .benefits__title {
    padding: 55px 15px;
  }

  .benefits {
    margin-bottom: 75px;
  }

  .places__card_size_lg {
    grid-column: span 6;
  }

  .places__card_size_sm {
    grid-column: span 6;
  }

  .achivements__achievement {
    grid-column-gap: 35px;
  }

  .achivement__info {
    padding-left: 0;
  }

  .achivement__title {
    margin-bottom: 15px;
  }

  .achivement__desc {
    margin-bottom: 15px;
  }

  .news__cards {
    grid-column-gap: 25px;
    grid-row-gap: 55px;
  }

  .news__card {
    grid-column: span 3;
  }

  .news__card-pic {
    margin-bottom: 20px;
  }

  .footer {
    padding: 60px 0;
  }

}

@media screen and (max-width: 704px) {
  .benefits__card {
    grid-column: span 3;
    margin-bottom: 40px;
  }

  .benefits__card-pic {
    margin-bottom: 20px;
  }

  .benefits__card-title {
    margin-bottom: 12px;
  }

  .benefits__card-desc {
    margin-bottom: 20px;
  }

  .benefits {
    margin-bottom: 36px;
  }

  .intro {
    padding-top: 125px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 48px;
  }

  .intro__subtitle {
    font-size: 14px;
  }

  .header__wrapper {
    padding-top: 28px;
  }

  .achivement__thumb {
    width: 100%;
    margin-right: 0;
  }

  .header__nav {
    padding: 75px 30px;
  }

  .header__link {
    font-size: 24px;
    line-height: 24px;
  }

  .plces__card-title {
    font-size: 28px;
    line-height: 24px;
  }

  .section-title::after {
    width: 78px;
  }

  .section-title {
    margin-bottom: 25px;
  }

  .places__card-pic_size_lg,
  .places__card-pic_size_sm {
    height: 230px;
  }

  .places__view-all {
    margin-bottom: 25px;
  }

  .places__caption {
    margin-bottom: 0;
  }

  .places {
    margin-bottom: 76px;
  }

  .achievemt__pic,
  .achivement__info {
    grid-column: span 2;
  }

  .achievemt__pic {
    margin-bottom: 12px;
  }

  .achievemt__pic_mob-first {
    grid-row-start: -1;
  }

  .achivements__achievement {
    margin-bottom: 50px;
  }

  .achivements {
    margin-bottom: 76px;
  }

  .news__card {
    grid-column: span 6;
  }

  .news__card-desc {
    margin-bottom: 15px;
  }

  .news {
    margin-bottom: 76px;
  }

  .footer__logo {
    width: 100%;
    margin-bottom: 24px;
  }

  .footer__nav {
    width: 100%;
  }

  .footer__menu {
    width: 50%;
    margin-bottom: 24px;
  }

  .footer__item {
    margin-top: 35px;
  }

  .footer__logo-pic {
    margin-top: 20px;
    margin-left: 20px;
    width: 80px;
    height: 80px;
  }

}

@media screen and (max-width: 704px) {

  .header__nav {
    padding: 75px 30px;
  }

  .header__link {
    font-size: 24px;
    line-height: 24px;
  }

  .plces__card-title {
    font-size: 28px;
    line-height: 24px;
  }

}

/*
 _____ ______   _______   ________  ___  ________          _______   ________   ________
|\   _ \  _   \|\  ___ \ |\   ___ \|\  \|\   __  \        |\  ___ \ |\   ___  \|\   ___ \
\ \  \\\__\ \  \ \   __/|\ \  \_|\ \ \  \ \  \|\  \       \ \   __/|\ \  \\ \  \ \  \_|\ \
 \ \  \\|__| \  \ \  \_|/_\ \  \ \\ \ \  \ \   __  \       \ \  \_|/_\ \  \\ \  \ \  \ \\ \
  \ \  \    \ \  \ \  \_|\ \ \  \_\\ \ \  \ \  \ \  \       \ \  \_|\ \ \  \\ \  \ \  \_\\ \
   \ \__\    \ \__\ \_______\ \_______\ \__\ \__\ \__\       \ \_______\ \__\\ \__\ \_______\
    \|__|     \|__|\|_______|\|_______|\|__|\|__|\|__|        \|_______|\|__| \|__|\|_______|



*/